doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/index.css')
    //- script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/core.js')
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-star-rating/4.0.1/css/star-rating.css')
    //- link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-star-rating/4.0.1/css/theme-krajee-fa.css')
    //- link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-star-rating/4.0.1/css/theme-krajee-svg.css')
    //- link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-star-rating/4.0.1/img/loading.gif')
    //- script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-star-rating/4.0.1/js/star-rating_locale_ru.js')
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-star-rating/4.0.1/js/star-rating.js')
  body
    block content
